body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c35;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fd7e14;
}

p {
    font-size: 1.5em;
    margin: 0;
    color: #a4a4a4;
}
.wrapper a {
    display: block;
    left: 30%;
    width: 200px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .wrapper a  span{
    position: relative;
    z-index: 2;
  }
  
  .wrapper a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fd7e14;
    transition: all .35s;
  }
  
  .wrapper a:hover{
    color: #fff;
  }
  
  .wrapper a:hover:after{
    width: 100%;
  }